body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #0E1A3D; */
}

.container-geral {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
    background-color: #F9FAFB;
}

.conteudo-principal {
  /* margin-left: 240px;  */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}



.formulario-grid select {
  background-color: #162A63;
  border: 2px solid #264fbd;
  border-radius: 22px;
  padding: 12px 16px;
  color: white;
  font-size: 14px;
  outline: none;
  appearance: none; /* remove a seta padrão do navegador */
  height: 55px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  gap: 20px;
}

.formulario-grid select option {
  background-color: #162A63;
  color: white;
}



.formulario-box {
  background-color: #0E1A3D;  
  border-radius: 30px;
  margin: 24px auto;
  padding: 40px;
  width: 90%;
  max-width: 1100px;
  color: white;
}

.formulario-box h2 {
  margin-bottom: 32px;
  font-size: 24px;
}

.formulario-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}

.formulario-grid input {
  background-color: #162A63;
  border: 2px solid #264fbd;
  border-radius: 10px;
  padding: 12px 16px;
  color: white;
  font-size: 14px;
  outline: none;
}

.formulario-grid input::placeholder {
  color: white;
  font-size: 13px;
  opacity: 0.6;
}

.botao-cadastrar {
  background-color: #F97316;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.botao-cadastrar:hover {
  background-color: #e59400;
}







@media (max-width: 1024px) {
  .container-geral {
    flex-direction: column;
    height: auto;
  }
  
  

  .formulario-box {
    padding: 30px 20px;
    border-radius: 24px;
    width: 95%;
  }

  .formulario-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .descricao-produto {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    max-width: 95%;
    padding: 15px;
  }

  .img-produto {
    width: 180px;
  }
}

/* Celulares (até 600px) */
@media (max-width: 600px) {


.formulario-grid select {

margin-left: -87px;

width: 308px;

}




  .formulario-box {
    margin: 15px auto;
    width: 95%;
    padding: 20px 15px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .formulario-box h2 {
    font-size: 22px;
  }

  .formulario-grid input {
    font-size: 13px;
    padding: 10px 14px;
  }

  /* .botao-cadastrar {
    width: 90%;       /* Largura menor que 100% */
    /* padding: 10px 0;  /* Altura do botão via padding */
    /* font-size: 14px;  /* Fonte menor */
    /* border-radius: 16px; */ */
  /* } */ */ */

  .descricao-produto {
    gap: 15px;
  }

  .img-produto {
    width: 130px;
  }

  .descricao-texto {
    font-size: 14px;
    line-height: 1.5;
    max-width: 100%;
  }
 
 /* .botao{
         width: 135%;
        margin-left: -84px;

} */

.botao_cadusuario{
  width: 135%;
        margin-left: -80px;
}

}

/* Celulares menores (até 480px) */
@media (max-width: 480px) {
   .menu-lateral {
    display: none;
  }
  .conteudo-principal {
    /* margin-left: 0;  */
    padding: 0px; 
  }
  .formulario-box {
    padding: 16px;
  }

  .formulario-box h2 {
    font-size: 20px;
  }

  .formulario-grid input {
    font-size: 13px;
    padding: 10px 14px;
  }

  
}
