body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0E1A3D;
}

.container-geral {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.conteudo-principal {
  margin-left: 240px; /* para compensar o menu lateral fixo */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.top-header {
  display: flex;
  justify-content: flex-end;
    padding: 16px 24px;
  background-color: #0E1A3D;
}
.icons-header {
  display: flex;
  align-items: center;
  gap: 16px; 
}


.icons-header img {
  width: 36px;
  height: 33px;
  margin-left: 20px;
  cursor: pointer;
}

.formulario-box {
  background-color: #0E1A3D;
  border: 2.9px solid #F97316;
  border-radius: 30px;
  margin: 24px auto;
  padding: 40px;
  width: 90%;
  max-width: 1100px;
  color: white;
}

.formulario-box h2 {
  margin-bottom: 32px;
  font-size: 24px;
}

.formulario-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}

.formulario-grid input {
  background-color: #162A63;
  border: 2px solid #264fbd;
  border-radius: 10px;
  padding: 12px 16px;
  color: white;
  font-size: 14px;
  outline: none;
}

.formulario-grid input::placeholder {
  color: white;
  font-size: 13px;
  opacity: 0.6;
}

.botao-cadastrar {
  background-color: #F97316;
  border: none;
  padding: 12px 32px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.botao-cadastrar:hover {
  background-color: #e59400;
}
