.botao {
  background-color: #F97316;
  width: 368px;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;

  display: block;
  margin-inline: auto;
}