body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0E1A3D;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0E1A3D;
}
.swal-custom-popup {
  border-radius: 16px !important;
  border: 2px solid #FF7A00 !important; /* laranja */
  padding: 20px !important;
}

.swal-custom-title {
  font-weight: 700 !important;
  color: #0C1B3A !important; /* azul escuro */
}

.swal-custom-text {
  color: #0C1B3A !important;
  font-size: 1.1rem !important;
}

.login-box {
  background-color: #0E1A3D;
  border: 2.9px solid #F97316;
  border-radius: 57px;
  padding: 48px 40px;
width: 730px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  box-sizing: border-box;
}

.logo {
      margin: 0 auto 40px auto;

  width: 356px;
  align-items: center;
}

.logo img {
  height: 100%;
  margin-bottom: 8px;
}




form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px;
}

input {
  background-color: transparent;
  background-color: #162A63;
  border: 2px solid #264fbd; 
  border-radius: 10px;
  padding: 12px 16px;
  color: white;
  font-size: 14px;
  outline: none;
  margin-bottom: 28px;
  transition: border 0.3s ease;
}

input::placeholder {
  color: transparent;
  font-size: 13px;
}

input:focus {
  border-color: #3d7bff;
}

.forgot-password {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 24px;
}

.forgot-password a {
  font-size: 13px;
  color: #e5e5e5;
  text-decoration: none;
}


button:hover {
  background-color: #e59400;
}


@media (max-width: 600px) {
  
.login-box {
       
 width: 95%;    
 border-radius: 18px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); padding: 88px 21px;
    }
.logo img {
    height: 100%;
    margin-bottom: 8px;
    height: 100px;
    margin-inline: 70px
}

input {
height: 55px;
 width: 263px;
 padding: auto;
    }
}

