.conteudo-principal-perfil {
  margin-left: 240px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #0e1a3d;
}

.Perfil-Logo {
  border: 2.9px solid #f97316;
  border-radius: 57px;
  padding: 48px 60px;
  margin: 60px auto;
  width: 750px;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(249, 115, 22, 0.25);
}

.perfil-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
      margin-top: -17px;
    margin-left: -25px;

}

.Logo-perfil {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 8px;
}

.perfil-info h2 {
  color: #f97316;
  font-size: 24px;
  margin: 0;
}

.perfil-info p {
  color: #b6bcd3;
  margin: 5px 0 0;
}

.perfil-dados {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.campo-perfil {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.campo-perfil label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #d4d7e5;
}

.campo-perfil input {
  background-color: transparent;
  border: 1.5px solid #f97316;
  border-radius: 8px;
  padding: 10px 12px;
  color: white;
  outline: none;
  font-size: 14px;
}

.botoes-perfil {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.btn-editar,
.btn-senha {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-editar {
  background-color: #f97316;
  color: white;
}

.btn-editar:hover {
  background-color: #ff861f;
  transform: scale(1.05);
}

.btn-senha {
  background-color: transparent;
  border: 1.5px solid #f97316;
  color: #f97316;
}

.btn-senha:hover {
  background-color: #f97316;
  color: white;
  transform: scale(1.05);
}
