.pagamento-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #d5e1ff;
}

.header {
  background-color: #001f4e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  color: white;
}

.header-right .icone {
  font-size: 1.8rem;
  margin-left: 15px;
  color: #F97316;
}

.logo {
  width: 35px;
}

.pagamento-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagamento-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 70px;
  width: 650px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.voltar {
  background: none;
  border: none;
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.8rem;
  color: #F97316;
  cursor: default;
  pointer-events: none;
}

.titulo {
  font-size: 2rem;
  color: #001f4e;
  text-decoration: underline;
  margin-bottom: 40px;
}

.opcoes-pagamento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  justify-items: center;
  margin-bottom: 40px;
}

.opcao {
  border-radius: 15px;
  background-color: #f2f4ff;
  padding: 15px;
}

.opcao img {
  width: 137px;
  height: 100px;
  object-fit: contain;
}

.opcao.selecionado {
  border: 3px solid #F97316;
  box-shadow: 0 0 6px #F97316;
}

.botao-confirmar {
  background-color: #F97316;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 60px;
  font-size: 1.1rem;
}
