.menu-lateral {
  background-color: #0E1A3D;
  color: white;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 16px;
  border-right: 3px solid #162A63;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-menu {
  margin-bottom: 24px;
}

.CASA {
  margin: 0 auto 60px auto;
  height: 80px;
  width: 80px;
  display: block;
    cursor: pointer;
}

.menu-lateral nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-lateral nav li {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden; 
}

.menu-lateral nav li:last-child {
  margin-bottom: 0;
}


.menu-lateral nav li a {
  display: block; 
  padding: 12px 16px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
}


.menu-lateral nav li a:hover {
  background-color: #ff6a00;
  color: #ffffff;
}


.menu-lateral nav li a.ativo {
  background-color: #F97316;
  color: white;
  font-weight: bold;
}

.sair {
  color: #F97316;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
  margin-left: 14px;
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sair:hover {
  color: #e59400;
}


.icone-hamburguer {
  position: fixed;
  top: 16px;
  left: 20px; 
  cursor: pointer;
  display: none; 
  z-index: 1000;
}

.icone-hamburguer .linha {
  width: 28px;
  height: 3px;
  background-color: #F97316;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 900;
  transition: opacity 0.3s ease;
}


@media (max-width: 1024px) {
  .icone-hamburguer {
    display: block;
  }

  .menu-lateral {
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
  }

  .menu-lateral.ativo {
    transform: translateX(0); 
  }
}


