.leitura-container {
  font-family: "Poppins", sans-serif;
  background-color: #A3B2DF;
}

.fundo-azul {
  background-color: #97aef2;
  width: 1298px;  
  margin: 2px auto;
  
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.conteudo {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.produtos {
  display: flex;
  flex-direction: column;
  background-color: #DEE5FA;
  height: 674px;
  align-items: center;
  border-radius: 18px;

}

.produto-img {
  width: 220px;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  
  height: auto;
}

.tabela {
  background-color: #DEE5FA;
  padding: 2rem;
  border-radius: 20px;
  width: 715px;
  height:676px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.subtitulo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1e2a47;
  margin-bottom: 1rem;
}

.tabela-dados,
.tabela-itens {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


.botao_leitura{
  
  background-color: #F97316;
  border: none;
  padding: 13px 88px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 85px;
}

.tabela-dados th,
.tabela-dados td,
.tabela-itens th,
.tabela-itens td {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  text-align: left;
  font-size: 18px;
}

.tabela caixa de energtico td{
  background-color: #D0DCFF;
}


.itens-cupom h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.atendido {
  margin-top: 30px;
  font-size: 0.95rem;
  color: #000000;
}

.resumo {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 5%;
}

.total {
  width: 205px;
  background-color: #1e2a47;
  color: #fff;
  padding: 9px 40px;
  border-radius: 27px;
  font-size: 25px;
  margin-top: 95px;
  align-items: center;
}



    