/* Fundo semi-transparente do modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Conteúdo do modal */
.modal-content {
  background: #ffffff;
  padding: 67px 14px;   
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  animation: slideIn 0.3s ease;	
  font-family: Arial, sans-serif;
}

/* Botão de fechar (x) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: #f3f3f3;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #97AEF2;
}

/* Botão dentro do modal */
.modal-content button {
  margin-top: 16px;
  padding: 2%;
  background-color: #F97316;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.modal-content button:hover {
  background-color: #A3B2DF; 
}

.img-button-modal {
    height: 30px;
    margin-bottom: -2px;
}