.modal-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #A3B2DF;
}

.modal-container{
    background: #ffff;
    padding: 30px 25px;
    border-radius: 13px;
    width: 400px;
    text-align: center;
    max-width: 90%;
    position: relative;
    text-align: center;
    font-family: "poppins", sans-serif;
    box-shadow:  4px 20px #F97316;

}