.feedbacks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0E1A3D;
    position: relative;
}

.botao-feedback {
    background-color: transparent;
    border: none;
    transition: transform 0.5s ease, background-color 0.9s ease;

}

.botao-feedback:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.fedcaras {
    width: 69px;
}

.logo-feedbacks-geral {
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Logo-feedbacks {
    height: 90px;
}

.feedbacks-box {
    background-color: #0E1A3D;
    border: 2.9px solid #F97316;
    border-radius: 57px;
    padding: 50px 40px 40px 40px;
    width: 730px;
    height: 491px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    box-sizing: border-box;
    text-align: center;
}
.swal-custom-popup {
  border-radius: 16px !important;
  border: 2px solid #FF7A00 !important;
}

.swal-custom-title {
  font-weight: bold !important;
  color: #0C1B3A !important;
}

.swal-custom-text {
  color: #0C1B3A !important;
}


.titulo-itens {
    margin-top: 33px;
    font-size: 22px;
    margin-bottom: 25px;
}


.swal2-popup.popup-pagamento {
    background-color: #bfcaf5;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.swal2-title.titulo-pagamento {
    color: #000;
    font-size: 28px;
    font-weight: 600;
}

.swal2-html-container.texto-pagamento {
    color: #000;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 10px;
}


.itens-box {
    background-color: #DCE3F4;
    color: #000;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aab6d6;
    padding: 10px 0;
    font-size: 16px;
}

.item:last-child {
    border-bottom: none;
}

.preco {
    font-weight: bold;
}

.total-box {
    background-color: #1b2d68;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 20px;
    margin-left: 440px;
    width: 200px;
    ;
    margin-top: 20px;
}

.feedback-area {
    margin-top: 35px;
}

.feedback-area h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.botao-feedback.selecionado {
    background-color: #ffe600;
    border-radius: 45%;
    box-shadow: 0 0 15px #ffeb3b;
}

.botao-confirmar {
    margin-top: 41px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: #ff6b00;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.botao-confirmar:hover {
    background-color: #e55e00;
}


.emojis {
    background-color: #DCE3F4;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    margin-top: 48px;
}