.container-geral-lucroegastos {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.conteudo-principal {
  margin-left: 240px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.lucroegastos-box {
  background-color: #EEF3FF;
  border-radius: 20px;
  margin: 48px auto;
  padding: 30px;
  width: 70%;
  max-width: 1000px;
  color: #000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

}



.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-detalhes {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}

.btn-fechar {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}
.btn-fechar-modal{
  

  background-color: #F97316;
  width: 268px;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;

  display: block;
  margin-inline: auto;
}



.btn-fechar:hover {
  background: #ff1a1a;
}


.lucroegastos-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.grafico-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.grafico-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.grafico-box h4 {
  margin-bottom: 16px;
  color: #333;
  font-size: 16px;
}




@media (max-width: 600px) {

  .lucroegastos-box-min {
    width: 91%;
    margin: 14px 20px;
  }
}

@media (max-width: 1024px) {
  .lucroegastos-box,
  .lucroegastos-box-min {
    margin: 40px auto;
    width: 90%;
    padding: 30px 20px;
    border-radius: 24px;
  }



  .lucroegastos-box {

    width: 91%;

    margin-left: 20px;
    margin-top: 14px;

  }


}

@media (max-width: 1024px) {

  .lucroegastos-box {
    width: 90%;
    padding: 30px 20px;
    border-radius: 24px;
    margin: 20px auto;
    margin-top: 75px;
  }


}
