@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-geral {
  display: flex;
  background-color: #e0e7ff; /* tom azul claro */
  height: 100vh;
}

.confirmacao-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-confirmacao {
  background-color: #fff;
  border-radius: 12px;
  width: 420px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.titulo {
  color: #0b1b3d;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 2px solid #0b1b3d;
  display: inline-block;
  padding-bottom: 5px;
}

.icone-check {
  background-color: #0b1b3d;
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.mensagem {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

button {
  background-color: #0b1b3d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #182c5a;
}
