.modal-editar-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-editar-conteudo {
  background: #EEF3FF;
  width: 520px;
  border-radius: 26px;
  padding: 30px;
  border: 2.5px solid #e2e9fa;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.25);
}

.modal-editar-conteudo h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0C1B3A;
}

.form-editar-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

.form-editar-grid input {
  padding: 12px;
  border-radius: 16px;
  background: #fff;
  border: 2px solid #d2d8f0;
}

.botoes-editar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-cancelar {
  background: #0C1B3A;
  border: none;
  padding: 10px 22px;
  color: white;
  border-radius: 18px;
  cursor: pointer;
  transition: .2s;
}

.btn-salvar {
  background: #FF7A00;
  border: none;
  padding: 10px 22px;
  color: white;
  border-radius: 18px;
  cursor: pointer;
  transition: .2s;
}

.btn-cancelar:hover {
  opacity: .8;
}

.btn-salvar:hover {
  opacity: .8;
}
