.container-geral {
  display: flex;
  height: 100vh;
}

.fornecedores-box {
  flex: 1;
  padding: 20px;
  background-color: #f5f7ff;
  justify-content: flex-end;
  
}

.titulo-fornecedores {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
<<<<<<< HEAD
  margin-left: 24%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
=======
  margin-left: 13%;
  font-family: 'Montserrat', sans-serif;
   margin-top: 5%;
>>>>>>> 77fa97c7b1a3a3307414c63821d325493f3a572d
}

.conteudoss{
background-color:   conteudoss#333;
}
.fornecedores-lista {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    margin-left: 20%;
=======
    margin: 74px auto;
<<<<<<< HEAD
=======
  
>>>>>>> 77fa97c7b1a3a3307414c63821d325493f3a572d
>>>>>>> 2703fd4231a85bb7954cbc733c5e4ed8df9de631
    width: 75%;
    gap: 20px;

}
.fornecedor-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px dashed #ccc;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  height: 280px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo-fornecedor {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-right: 25px;
}

.grafico-placeholder {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.grafico-placeholder > div {
  width: 100% ;
  height: 100% ;
}
