.container-geral {
  display: flex;
  height: 100vh;
}

.fornecedores-box {
  flex: 1;
  /*padding: 20px;*/
  background-color: #f5f7ff;
  justify-content: flex-end;
  
}

.painel-box {
  background-color: #EEF3FF;
  border-radius: 20px;
  padding: 30px 40px;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.titulo-fornecedores {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;


  margin-left: 24%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;

  margin-left: 13%;
  font-family: 'Montserrat', sans-serif;
   margin-top: 5%;

  margin-left: 24%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  margin-left: 13%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;

}

.conteudoss{
background-color:conteudoss#333;
}
.fornecedores-lista {
    display: flex;
    flex-direction: column;
    margin: 74px auto;
    width: 75%;
    gap: 20px;

}
.fornecedor-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px dashed #ccc;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
  height: 280px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.5s ease, background-color 0.9s ease;
}    
.fornecedor-card:hover{
  transform: scale(1.1);
}

.logo-fornecedor {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-right: 25px;
}

.grafico-placeholder {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.grafico-placeholder > div {
  width: 100% ;
  height: 100% ;
}
