.container-geral {
  display: flex;
  height: 100vh;
}

.fornecedores-box {
  flex: 1;
  padding: 20px;
  background-color: #f5f7ff;
  justify-content: flex-end;
}

.titulo-fornecedores {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  margin-left: 19%;
  font-family: 'Montserrat', sans-serif;
}

.fornecedores-lista {
    display: flex;
    flex-direction: column;
    margin: 74px auto;
    margin-left: 19%;
    width: 75%;
    gap: 20px;
    padding: 45px;
}

.fornecedor-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo-fornecedor {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block; 
}

.grafico-placeholder {
  flex: 1;
  margin-left: 20px;
  height: 100px;
  border: 1px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-style: normal;
}
