@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Aplica em todo o projeto */
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7ff;
}

/* .container-geral {
  display: flex;
  min-height: 100vh;
} */
.container-geral {
  display: flex;
}

.conteudo-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
}



main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* ou center */
  gap: 20px; /* controla o espaço entre itens */
  width: 100%;
}

.descricao-produto {
  display: flex; /* coloca os elementos lado a lado */
  justify-content: center;
  align-items: center; /* alinha verticalmente */
  
  padding: 20px;
  gap: 83px;
  background-color: #F9FBFF;
  border-radius: 12px;
  height: 234px;
  width: 863px;
  margin: 2em auto 32px auto; /* centraliza horizontalmente e espaçamento inferior */
}

.img-produto {
  width: 229px; /* ajusta o tamanho da imagem */
  height: auto;
}

.descricao-texto {
  max-width: 400px;
}

.formulario-box {
  background-color: #EFF3FF;
  border-radius: 30px;
  margin: 20px auto;
  padding: 40px;
  width: 1013px;
  max-width: 1100px;
  color: rgb(3, 3, 3);
}

.formulario-box h2 {
  font-size: 36px;
  font-weight: 700;
 
}

.formulario-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 62px;
}

.formulario-grid input {
  background-color: #162A63;
  border: 2px solid #264fbd;
  border-radius: 22px;
  padding: 12px 16px;
  color: white;
  font-size: 14px;
  outline: none;
}

.formulario-grid input::placeholder {
  color: white;
  font-size: 13px;
  opacity: 0.6;
}

.upload-box {
  display: flex;
  gap: 20px;
 
  justify-content: center;
  width: 100%;
}

.upload-box button {
  background-color: #162A63;
  border: 2px solid #264fbd;
  border-radius: 22px;
  padding: 8px 14px; /* altura menor */
  color: white;
  font-size: 14px;
  outline: none;
  width: 454px;
}

.botao-box {
  display: flex;
  gap: 20px;
  margin-bottom: 62px;
}

button {
  margin-top: 20px;
}
