.container-geral-home {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.conteudo-principal {
  margin-left: 240px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.link-administrador{
 color: #000;
  text-decoration: none;
}


.topo-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}


.btn-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.btn-menu img {
  width: 28px;
  height: 28px;
}

/* Dashboard */
.home-box {
  background-color: #EEF3FF;
  border-radius: 15px;
  margin: 48px auto;
  padding: 30px;
  width: 90%;
  max-width: 1200px;
  color: #000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.cards-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.card-info {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 transition: transform 0.5s ease, background-color 0.9s ease;
}




.card-info:hover{
    transform: scale(1.1);
}
.dashboard-h2{
  margin-bottom: 4%;
  
}
.pessoas{
  width: 60px;  
}
.caminhao{
 width: 60px;  
}
.alertaa{
 width: 60px;  
}

.graficos-home  {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.lucrosGastos_h4{

  color: #000;
  text-decoration: none;
}

.grafico-box-home {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  min-width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
   transition: transform 0.5s ease, background-color 0.9s ease;
}
.grafico-box-home:hover{
      transform: scale(1.1);
}

/* ========================= */
/* ===== RESPONSIVIDADE ==== */
/* ========================= */

@media (max-width: 1024px) {
  .conteudo-principal {
    margin-left: 0;
  }

  .btn-menu {
    display: block; /* só aparece aqui */
  }

  .container-geral-home {
    position: relative;
  }

  .container-geral-home .MenuLateral {
    position: fixed;
    top: 0;
    left: -260px;
    width: 240px;
    height: 100vh;
    transition: left 0.3s ease;
    z-index: 999;
  }

  .container-geral-home.menu-ativo .MenuLateral {
    left: 0;
  }

  .cards-dashboard {
    flex-direction: column;
  }

  .graficos-home {
    flex-direction: column;
  }
}

/* Oculta completamente o botão de menu em telas grandes */
@media (min-width: 1025px) {
  .btn-menu {
    display: none ;
  }
}
