.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #0E1A3D;
padding-left: 85%;
}
.icone-sino {
  margin-top: 2px; 
}

.icons-header {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.icons-header img {
   width: 32px;         
  height: 32px;
  object-fit: contain;
  display: block;      
}

/* Ícone do menu hamburguer */
.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.menu-hamburguer img {
  width: 32px;
  height: 32px;
}

/* Em tablets e celulares, mostrar o hamburguer */
@media (max-width: 1024px) {
  .menu-hamburguer {
    display: flex;
    /* display: block; */
     justify-content: flex-start;
  }
}
