.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #0E1A3D;
<<<<<<< HEAD

  border-bottom: 2px solid  #162A63;

=======
  border-bottom: 2px solid  #162A63;
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
  padding-left: 89%;
  padding-left: 89%;
  padding-left: 85%;
  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;
  padding-left: 89%;
  padding-left: 89%;
  padding-left: 85%;
  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;
<<<<<<< HEAD


=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
}

.icone-sino {
  margin-top: 2px;
  padding-left: 78%;
  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;
<<<<<<< HEAD

=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;
  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;
<<<<<<< HEAD




=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
}

.Usuario-perfil {
  display: flex;
  transition: transform 0.5s ease, background-color 0.9s ease;
  align-items: center;
  
}

.Usuario-perfil:hover {
<<<<<<< HEAD

=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
  transform: scale(1.2);
}  

<<<<<<< HEAD







=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
.icons-header {
  display: flex;
  gap: 16px;

  height: 100%;
}

.icons-header img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;      
  display: block;
<<<<<<< HEAD

=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
  display: block;      
  display: block;

<<<<<<< HEAD

=======
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
  position: relative;
  left: 20%;

}

.icons-header img {
  width: 36px;
  cursor: pointer;
<<<<<<< HEAD

    margin-right: -305px

=======
<<<<<<< HEAD
    margin-right: 5691px;
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f

  
}

.menu-hamburguer {
  display: none;
  cursor: pointer;


}

.menu-hamburguer img {
  width: 32px;
  height: 32px;
  margin-left: -315px;
}


@media (max-width: 1024px) {
  .menu-hamburguer  {
    display: flex;

    justify-content: flex-start;
  }

.icons-header img {
    
    margin-right:10px;
}
<<<<<<< HEAD
.menu-hamburguer img  {
margin-left:-669px;
}
=======
.menu-hamburguer img {
 margin-left: -669;
>>>>>>> e2f587557cd7c4562fe9026d7e29e07db1a3139f
}

@media (max-width: 600px ) {
.menu-hamburguer img {
       margin-left: -320px;
    
    }
  }

