.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #0E1A3D;
 
  border-bottom: 2px solid  #162A63;


}



.icone-sino {
  margin-top: 2px;
  padding-left: 78%;
  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;



}

.Usuario-perfil {
  display: flex;
  transition: transform 0.5s ease, background-color 0.9s ease;
  align-items: center;
  
}

.Usuario-perfil:hover {
  transform: scale(1.2);
}  


.icons-header {
  display: flex;
  gap: 16px;
margin-left: 413px;
  height: 100%;
}
.icons-header,
.icons-header img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  
  position: relative;
  left: 20%;
 width: 36px;
  cursor: pointer;
    margin-left: 414px;
    display: flex;
} 



@media (max-width: 1024px) {
  

.icons-header img {
    
    /* margin-right:10px; */
        margin-left: -171px;
}


.menu-hamburguer img  {
margin-left:-669px;
}

.menu-hamburguer img {
 margin-left: -669;

}
.icons-header{

margin-left: 92%;

}

@media (max-width: 600px ) {
.menu-hamburguer img {
       margin-left: -320px;
    
    }

.icons-header{

margin-left: 88%;

}

.icons-header img {
    
    /* margin-right:10px; */

    margin-left: -60px;
}
  }

}

