.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #0E1A3D;
<<<<<<< HEAD



=======
>>>>>>> 0c67fe0582fcc184d89782b127030bb6976efd37
  border-bottom: 2px solid  #162A63;
  border-bottom: 2px solid  #162A63;
  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;
<<<<<<< HEAD
  



=======
>>>>>>> 0c67fe0582fcc184d89782b127030bb6976efd37
  border-bottom: 2px solid  #162A63;
  border-bottom: 2px solid  #162A63;
  padding-left: 89%;
  padding-left: 89%;
  padding-left: 85%;
  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;
  padding-left: 89%;
  padding-left: 89%;
  padding-left: 85%;
  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;


}

.icone-sino {
  margin-top: 2px;
  padding-left: 78%;
  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;
<<<<<<< HEAD

  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;
  border-bottom: 0.1px solid #162A63;
  border-bottom: 2px solid #162A63;

=======
  border-bottom: 0.1px solid #162A63;
>>>>>>> 0c67fe0582fcc184d89782b127030bb6976efd37

}

.Usuario-perfil {
  display: flex;
  transition: transform 0.5s ease, background-color 0.9s ease;
  align-items: center;
  
}

.Usuario-perfil:hover {
  transform: scale(1.2);
}  


.icons-header {
  display: flex;
  gap: 16px;

  height: 100%;
}

.icons-header img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;      
  display: block;
<<<<<<< HEAD



  display: block;      
  display: block;

=======
>>>>>>> 0c67fe0582fcc184d89782b127030bb6976efd37
  position: relative;
  left: 20%;

} 

.icons-header img {
  width: 36px;
  cursor: pointer;
<<<<<<< HEAD



=======
>>>>>>> 0c67fe0582fcc184d89782b127030bb6976efd37
    margin-right: -305px;
    margin-right: 5691px;
<<<<<<< HEAD



  margin-right: -305px

=======
  margin-right: -305px
>>>>>>> 0c67fe0582fcc184d89782b127030bb6976efd37
  
}

@media (max-width: 1024px) {
  

.icons-header img {
    
    margin-right:10px;
}


.menu-hamburguer img  {
margin-left:-669px;
}

.menu-hamburguer img {
 margin-left: -669;

}

@media (max-width: 600px ) {
.menu-hamburguer img {
       margin-left: -320px;
    
    }
  }

}

