.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #0E1A3D;

  padding-left: 89%;
  padding-left: 89%;
  padding-left: 85%;
  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;


 padding-left: 89%;

  padding-left: 89%;


padding-left: 85%;

  padding-left: 89%;
  padding-left: 85%;
  border-bottom: 2px solid  #162A63;

}

.icone-sino {
  margin-top: 2px;
  padding-left: 78%;

  border-bottom: 0.1px solid #162A63;

  border-bottom: 2px solid #162A63;
   


  border-bottom: 0.1px solid #162A63;

  border-bottom: 2px solid #162A63;
  border-bottom: 0.1px solid #162A63;

  border-bottom: 2px solid #162A63;

}

.Usuario-perfil {
  display: flex;
  transition: transform 0.5s ease, background-color 0.9s ease;
  align-items: center;
  
}

.Usuario-perfil:hover {

} 



.icons-header {
  display: flex;
  gap: 16px;

  height: 100%;
}

.icons-header img {
  width: 32px;
  height: 32px;
  object-fit: contain;

  display: block;      
  display: block;


  display: block;      


  display: block;


  position: relative;
  left: 20%;

}

.icons-header img {
  width: 36px;
  cursor: pointer;

}

.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.menu-hamburguer img {
  width: 32px;
  height: 32px;
}


@media (max-width: 1024px) {
  .menu-hamburguer {
    display: flex;

    justify-content: flex-start;
  }
}